*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(48, 47, 47);
}
ul>li{
    text-decoration: none;
    
    display: inline-block;
    margin:0 auto;
}

ul{
    text-align: center;    
}
